{% extends 'base.html.twig' %}
{% block title %} Découvrez un monde d'aventures avec notre site {%  endblock %}
{% block header %}
<h2>header</h2>
{% endblock %}
{% block body %}
<div class="container">
   <div class="jumbotron mt-3">
      <!-- bootstrap component -->
      <h1 class="display-4">Explorez le monde avec Airbeb</h1>
      <p class="lead">Airbeb révolutionne le voyage en offrant une plateforme facile d'utilisation pour réserver des hébergements uniques et des expériences mémorables partout sur la planète. </p>
      <hr class="my-1">
   </div>
   <h2 class="h1 mt-5 mb-4">Sélection de logements haut de gamme</h2>
   <div class="row">
      {% for annonce in annonces|slice(0, 6) %}
      <div class="col-sm-4 mt-3">
         <!-- Adjust the column size as needed -->
         <div class="card" style="width: 18rem;">
            <img src="{{ asset('images/uploads/' ~ annonce.imagePath) }}" class="card-img-top" alt="image de maison">
            <div class="card-body">
               <h5 class="card-title">{{ annonce.title }}</h5>
               <h6 class="card-subtitle mb-2 text-muted">{{ annonce.cityname }} - {{ annonce.countryname }}</h6>
               <p class="card-text text-primary">{{ annonce.prix }} € par nuit</p>
               <div class="d-flex justify-content-between align-items-center">
                  <a href="{{ path('app_annonce_show', {'id': annonce.id}) }}" class="btn btn-primary">Détails</a>
                  {# TODO: Reservation route #}
                  <a href="{{ path('app_annonce_show', {'id': annonce.id}) }}" class="btn btn-success">Réservez</a>
               </div>
            </div>
         </div>
      </div>
      {% else %}
      <div class="col">No records found</div>
      {% endfor %}
   </div>
</div>
{% endblock %}