<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
   <style>
      /* Style des pipes */
      .pipe::before {
      content: "|";
      margin: 0 8px; /* Ajustez la marge selon vos préférences */
      color: #ffffff; /* Couleur des pipes */
      }
   </style>
   <a class="navbar-brand" href="{{ path('accueil') }}">Airbeb</a>
   <button class="navbar-toggler" type="button" data-toggle="collapse" 
      data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
   <span class="navbar-toggler-icon"></span>
   </button>
   <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav mr-auto">
         <li class="nav-item">
            <a class="nav-link" href="{{ path('accueil') }}">Accueil</a>
         </li>
         <li class="nav-item">
            <a class="nav-link" href="{{ path('app_annonce_index') }}">Annonces</a>
         </li>
      </ul>
      <ul class="navbar-nav ml-auto">
         {% if app.user %}
         <li class="">
            <div>
               {# Bouton pour creer une annonce ##}
               {% if is_granted('ROLE_AUTHOR') %} 
               <a href="{{ path('app_annonce_new') }}" class="">Créer annonce</a>
               <span class="pipe"></span>
               {# reservations author #}
               <a href="{{ path('app_reservation_index') }}" class="">Reservation des users</a>
               <span class="pipe"></span>
               {% endif %}
               {# reservations user #}
               <a href="{{ path('app_reservation_index_user') }}" class="">Voir mes réservations</a>
               <span class="pipe"></span>
               <a href="{{ path('profile') }}" class="">Mon compte et Mes annonces</a>
               <span class="pipe"></span>
               <a href="{{ path('app_favoris_index') }}" class="">Mes Favoris</a>
               <span class="pipe"></span>
               <a href="{{ path('app_logout') }}" class="">Déconnexion</a>
            </div>
         </li>
         {% else %}
         <li class="nav-item">
            <a href="{{ path('app_register') }}" class="nav-link">Inscription</a>
         </li>
         <li class="nav-item">
            <a href="{{ path('app_login') }}" class="nav-link">Connexion</a>
         </li>
         {% endif %}
      </ul>
   </div>
</nav>
{% for label, messages in app.flashes %}
<div class="container">
   <div class="alert alert-{{ label }}">
      {% for message in messages %}
      <p>{{ message | raw }}</p>
      {% endfor %}
   </div>
</div>
{% endfor %}