<div class="card " style="width: 18rem;">
  <img src="images/uploads/{{ annonce.imagePath }}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{ annonce.title }}</h5>
    <h6 class="card-subtitle mb-2 text-muted">{{ annonce.cityname }} - {{ annonce.countryname }}</h6>
    <p class="card-text text-primary">{{ annonce.prix }} € par nuit</p>
    <a href="{{ path('app_annonce_show', {'id': annonce.id}) }}" class="btn btn-primary">Voir détails</a>
  </div>
</div>