{% extends 'base.html.twig' %}
{% block title %}Annonces index{% endblock %}
{% block body %}
<div class="container">
    <h1>Annonces index</h1>
    <a href="{{ path('app_annonce_new') }}" class="btn btn-primary mt-3">Create new</a>
    <div class="row">
        {% for annonce in annonces %}
            <div class="col-sm-4 mt-3"> <!-- Adjust the column size as needed -->
                <div class="card" style="width: 18rem;">
                    <img src="{{ asset('images/uploads/' ~ annonce.imagePath) }}" class="card-img-top" alt="image de maison">
                    <div class="card-body">
                        <h5 class="card-title">{{ annonce.title }}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">{{ annonce.cityname }} - {{ annonce.countryname }}</h6>
                        <p class="card-text text-primary">{{ annonce.prix }} € par nuit</p>
                        <a href="{{ path('app_annonce_show', {'id': annonce.id}) }}" class="btn btn-primary">Voir détails</a>
                    </div>
                </div>
            </div>
        {% else %}
            <div class="col">No records found</div>
        {% endfor %}
    </div>

</div>
{% endblock %}
{# 
<tr>
   <td>{{ annonce.id }}</td>
   <td>{{ annonce.title }}</td>
   <td>{{ annonce.type.label}}</td>
   <td>{{ annonce.description }}</td>
   <td>{{ annonce.countryname }}</td>
   <td>{{ annonce.cityname }}</td>
   <td>{{ annonce.streetname }}</td>
   <td>{{ annonce.imagePath }}</td>
   <td>{{ annonce.prix }}</td>
   <td>{{ annonce.nombreCouchage }}</td>
   <td>{{ annonce.nombrePiece }}</td>
   <td>{{ annonce.taille }}</td>
   <td>{{ annonce.user.email }}</td>
   <td>
      <a class="text-primary" href="{{ path('app_annonce_show', {'id': annonce.id}) }}">show</a>
      <a class="text-primary" href="{{ path('app_annonce_edit', {'id': annonce.id}) }}">edit</a>
   </td>
</tr>
#}