{% extends 'base.html.twig' %}

{% block title %}Annonce{% endblock %}

{% block body %}
    <h1>Annonce</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ annonce.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ annonce.title }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ annonce.description }}</td>
            </tr>
            <tr>
                <th>Countryname</th>
                <td>{{ annonce.countryname }}</td>
            </tr>
            <tr>
                <th>Cityname</th>
                <td>{{ annonce.cityname }}</td>
            </tr>
            <tr>
                <th>Streetname</th>
                <td>{{ annonce.streetname }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td>{{ annonce.imagePath }}</td>
            </tr>
            <tr>
                <th>Prix par nuit</th>
                <td>{{ annonce.prix }} €</td>
            </tr>
            <tr>
                <th>Nombre de couchages</th>
                <td>{{ annonce.nombreCouchage }}</td>
            </tr>
            <tr>
                <th>Nombre de pieces</th>
                <td>{{ annonce.nombrePiece }}</td>
            </tr>
            <tr>
                <th>Taille en m²</th>
                <td>{{ annonce.taille }}</td>
            </tr>
            <tr>
                <th>Équipements</th>
                <td>
                    {% if annonce.equipements|length > 0 %}
                        <ul>
                            {% for equipement in annonce.equipements %}
                                <li>{{ equipement.label }}</li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        Pas d'Équipements
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>Autheur</th>
                <td>{{ annonce.user.email }}</td>
            </tr>
        </tbody>
    </table>


    {# TODO: Button for ROLE_AUTHOR #}

    {# Ici, on vérifie si l'utilisateur a le rôle ADMIN #}
    {% if is_granted('ROLE_ADMIN') %}
        <div class="d-flex justify-content-center">
            <a href="{{ path('app_annonce_index') }}" class="btn btn-primary mr-5">Faire une réservation</a>
            <a href="{{ path('app_annonce_index') }}" class="btn btn-primary mr-5 ">Click pour retourner a la liste</a>
            <a href="{{ path('app_annonce_edit', {'id': annonce.id}) }}" class="btn btn-primary ml-2 bg-success">Edit</a>
            {{ include('annonce/_delete_form.html.twig') }}
        </div>

    {% else %}

    <div class="d-flex justify-content-center">
        {# TODO: crud reservation and update the commented line  #}
        {# <a href="{{ path('app_reservation_new', {'id': annonce.id}) }}" class="btn btn-primary">Make a reservation</a> #}
        <a href="{{ path('app_annonce_index') }}" class="btn btn-primary mr-2">Faire une réservation</a>
        <a href="{{ path('app_annonce_index') }}" class="btn btn-primary mr-2">Click moi pour retourner a la liste</a>
    </div>

   {% endif %}

  
{% endblock %}
